<html>
 <head>
  <title>Slack bot for tipping</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
  <script src="/scripts/url.min.js"></script>
  <script src="/scripts/register.js"></script>
  <script src="/scripts/stats.js"></script>
</head>
 <body style="text-align: center">
  <p>
    <img src='img/slack.png' width="120px">
  </p>

  <h3>A tipping bot using Indium currency.</h3>
  <h5>Add to your Slack and invite <b>@indiumbot</b> to a channel to start tipping! You can also DM the bot.</h5>
  <p>Before adding to your slack, make sure to join <a href="https://indiumtalk.slack.com">Indium Slack</a>. To know more, visit the website at <a href="https://indium.org.in/" target="_blank">Indium.Org.In</a></p>

  <p id='messages' />
  <% if Team.count < 3 %><!-- Will stay in testing mode for some time -->
    <p id='register'>
      <a href="https://slack.com/oauth/authorize?scope=chat:write:bot,users:read,bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add IndiumBot to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    </p>
  <% else %>
    <h2>We are currently in testing mode.</h2>
  <% end %>
  <p id='active_teams_count'><%= Team.active.count %> teams are actively using IndiumBot.</p>
  <p>
    <small>
      made by 
    </small>
  </p>
  <p><a href="/list"><small>Today's transactions: <b><%= Txn.today.count %></b></small></a></p>
 </body>
</html>